.hand {
  display: flex;
  justify-content: left;
  overflow-x: auto;
  flex-grow: 2;
  width: calc(100% - 2*var(--rm-space-medium));
  min-height: 17rem;
}

.message-box {
  line-height: --rm-line-height-base;
  height: auto;
  overflow-y: auto;
  width: 100%;
}

.card-in-hand {
  min-height: 13rem;
  max-width: 100rem;
  margin-right: -6rem;
}

.ask-box {
  justify-content: space-around;
}

.current-player-box {
  justify-content: center;
  width: 33%;
}

.box-wrapper {
  display: flex;
  justify-content: center;
  height: 10rem;
}

.bottom-box-wrapper {
  display: flex;
  flex-direction: column;
  overflow: auto;
  width: 33%;
  max-height: 30rem;
}

.header-helper {
  font-size: 2rem;
}