.hand {
  justify-content: left;
  width: 50%;
  overflow-x: scroll;
}

.message-box {
  width: 50%;
  line-height: --rm-line-height-base;
}

.card-in-hand {
  max-width: 10rem;
}

.player-list {
  width: 50%;
}

.book-box {
  width: 50%;
}

.ask-box {
  justify-content: space-around;

}