.hand {
  justify-content: left;
  width: 50%;
  overflow-x: scroll;
}

.message-box {
  width: 50%;
  line-height: --rm-line-height-base;
}

.card-in-hand {
  max-width: 10rem;
}

.one-third-width {
  width: 33%;
}

.ask-box {
  justify-content: space-around;
}

.current-player-box {
  justify-content: center;
  width: 33%;
}